@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --Dark-Color-BG: #161616;
    --White-Color-Font: #f0f0f0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    background: var(--Dark-Color-BG);
    color: var(--White-Color-Font);
    display: grid;
    place-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 490px;
    margin: 200px 0 200px 0;
    max-width: 1400px;
}

header > #Presentation {
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 30px;
    background-color: #0e0e0e;
    border-radius: 15px;
    padding: 20px;
}

.Title {
    font-size: 50px;
    margin: 20px 0 20px 0;
}

.Important {
    color: #ffb325;
}

h1 > span {
    color: rgb(230, 0, 76);
}

div#AboutMe-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

div#ImageContainer img {
    border-radius: 15px;
    background-color: #161616;
}

a.Button {
    padding: 15px 40px 15px 40px;
    background: rgb(90, 0, 0);
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 0, 0);
    border-radius: 15px;
    border: 1px solid rgb(255 , 0 , 0);
}

#github {
    color: #f0f0f0;
    background: #0e0e0e;
    border: 1px solid rgb(54, 54, 54);
}

#twitter {
    color: rgb(0, 195, 255);
    background: #003144;
    border: 1px solid rgb(0, 153, 255);
}

#buttons {
    margin: 50px;
}

#as {
    margin: 0px 0px 60px 0px;
}